<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="inhoud-footer col-12 text-left">
                <p>&copy; 2018 Sarah Meysman</p>
                <h2>Contact</h2>

                <form action="https://formspree.io/sarahmeysman@hotmail.com" method="POST">
                    
                    <input id="naam" type="text" name="name">
                    <label for="naam">Je naam</label>
                    
                    <input id="mail"  type="email" name="_replyto">
                    <label for="mail">Je e-mailadres</label>

                    <input id="onderwerp" type="hidden" name="_subject" value="">
                    <label for="onderwerp">Onderwerp</label>

                    <textarea id="bericht" name="message"></textarea>
                    <label for="bericht">Je bericht</label>
                    
                    <input type="submit" value="Send">

                    <input type="hidden" name="_next" value="https://site.io/thanks.html" /> <!-- EIGEN BEDANKINGSPAGINA MAKEN -->
                </form>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>