<footer class="container-fluid bh-absolute-bottom">
    <div class="row justify-content-center">
        <div class="inhoud-footer col-12 col-md-8 col-lg-6 text-left">
                
                <h2>Contact</h2>
                <p>Heb je vragen, wil je meer van mijn werk zien of wil je me graag contacteren? Dat kan! Stuur me een mailtje, volg me op Instagram of vul dit formuliertje in. </p>

                <div class="row text-center social">
                    <a href="mailto:sarahmeysman@hotmail.com">
                        <div id="mail">
                            <img src="{{ '/images/social/mail.png' | relative_url }}" alt="mail">
                            <p class="socialtekst"> sarahmeysman@hotmail.com </p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/sarahmeysman">
                        <div id="insta">
                            <img src="{{ '/images/social/instagram.png' | relative_url }}" alt="instagram">
                            <p class="socialtekst">@sarahmeysman</p>
                        </div>
                    </a>

                </div>


                <form action="https://formspree.io/sarahmeysman@hotmail.com" method="POST">
                    <div>
                        
                        <input id="naam" type="text" name="name" required placeholder=" ">
                        <label for="naam">Je naam</label>
                    </div>

                    <div>
                        
                        <input id="mail"  type="email" name="_replyto" required placeholder=" ">
                        <label for="mail">Je e-mailadres</label>
                    </div>
                    
                    <div>
                        
                        <input id="onderwerp" type="text" name="_subject" required placeholder=" ">
                        <label for="onderwerp">Onderwerp</label>
                    </div>
                    
                    <div>
                        <textarea id="bericht" name="message" rows="5" required placeholder=" "></textarea >
                        <label for="bericht">Je bericht</label>
                    </div>
                    
                    <div id="verstuur">
                        <input type="submit" value="Versturen">
                    </div>

                    <input type="hidden" name="_next" value="https://site.io/thanks.html" /> <!-- EIGEN BEDANKINGSPAGINA MAKEN -->
                </form>


                <p>&copy; 2018 Sarah Meysman</p>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>