<nav class="navbar navbar-expand-md flex-column custom-nav-ver">
    <div class="brandlogo">
        <a class="navbar-brand" href="{{ '/index.html' | relative_url }} ">Sarah Meysman</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="mainNavigation">

    <ul class="navbar-nav flex-column">
{%- for nav-item in site.data.navigation %}
    
    {%- capture item_classes %}
    active
        {% if page.url contains nav-item.permalink %}open{% endif %}
    {% endcapture %}
    {%- if nav-item.folder %}
    <li class="nav-item dropdown {{ item_classes }}">
            <a class="nav-link" href="{{ nav-item.permalink | relative_url }}" class="navbarDropdown" title="{{ nav-item.name }}" aria-haspopup="true" aria-expanded="true">
                {{ nav-item.name }}
            </a>
            {%- include navigation-from-folder-v.html nav-item=nav-item %}
    </li>
    {%- else %}
    <li class="nav-item {{ item_classes }}">
            <a class="nav-link" href="{{ nav-item.permalink | relative_url }}" title="{{ nav-item.name }}">
                {{ nav-item.name }}
            </a>
    </li>
    {%- endif %}

{%- endfor %}
    </ul>

    </div>
</nav>