.btn {
  border-radius: 0;
  text-decoration: none;
  font-weight: $font-weight-bold;

  &.btn-primary {
    background-color: $color-white;
    border-color: $color-black;
    color: $color-black;
    border-width: $border-width;
    position: relative;

    &:before {
      background-color: $color-black;
      bottom: 0;
      content: '';
      height: calc(100% + #{$border-width} * 2);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(4px, 4px);
      -webkit-transition: transform 0.3s ease-in-out;
      -moz-transition: transform 0.3s ease-in-out;
      -ms-transition: transform 0.3s ease-in-out;
      -o-transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      width: calc(100% + #{$border-width} * 2);
      z-index: -1;
    }

    &:hover,
    &:focus {

      &:before {
        transform: translate(1px, 1px);
      }
    }

    &:focus {
      box-shadow: $focus-box-shadow;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $color-black;
      border-color: lighten($color-black, 10%);

      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  &.btn-contact {
    text-transform: uppercase;
  }
}


/* BACK TO TOP
-------------------------
*/
#to-top {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-black;
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;

  svg{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top:0;
  }

  &:hover {
    background-color: lighten($color-black, 10%);

    svg{
      position:relative;
      top:-5px;
    }
  }
}
