/* Navigation
---------------------------------------------
*/


/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
  height: 100%;
}

body {
  background-color:$color-white;
  border: $border-width solid $border-color;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  position: relative;
}

main {
  margin-top: 30px;
}

.introtext .intro {
  font-size: $font-size-base * 2;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}


@media (min-width: $breakpoint-md) {

  .introduction-image {
    margin: 30px 0;
  }

  main {
    margin-top: 0;
  }

  .info-navtabs-column,
  .portfolio-content-column {
    height: calc(100vh - #{$border-width} * 2);
    max-height: calc(100vh - #{$border-width} * 2);
    overflow-y: scroll;
  }

  .portfolio-content-column {
    border-left: $border-width $border-color solid;
  }
}

@media (min-width: $breakpoint-xl) {

  .introduction-image {
    margin: 30px auto;
  }

  .info-wrapper {
    padding: 0 30px;
  }
}


@media (min-width: $breakpoint-md) and (max-height: 550px) {

  .introduction-image {
    width: 100px;
  }
}

img{
  max-width: 100%;
}
