/* Navigation
---------------------------------------------
*/


/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
  height: 100%;
  
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color:$color-white;
}

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
  padding-top:20px;
  background-color: $color-grey-3;
  color: $color-white;
  margin-top: 50px;
  a {
    color: $mycolor-3;
    text-decoration: underline;
    &:hover {
      text-decoration: none; 
    }
  }
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}




.kleuren{
  width: 100%;
  padding: 20px;
  color: $color-white;
  margin-bottom: 50px;
  h3{
      margin-top: 10px;
      margin-bottom: 20px;
  }
  a{
      color: $color-grey-1;
  }
}
#kleur-blauw{
  background-color: $clientcolor-1;
}
#kleur-geel{
  background-color: $clientcolor-2;
}
#kleur-groen{
  background-color: $clientcolor-3;
}
#kleur-rood{
  background-color: $clientcolor-4;
}
#kleur-oranje{
  background-color: $clientcolor-5;
}

img{
  margin: 5px 0;
}


.download{
  border: 3px solid $mycolor-3;
  border-radius: 25px;
  a{
    text-decoration:none;
    &:hover{
      text-decoration: underline;
    }
  }
  img{
      margin-right: 15px;
      width: 20px;
  }
  p{
      margin-bottom: 0.5rem;
      padding: 0 10px;
      &:hover{
        background-color: $mycolor-3;
        color: white;
      }
  }
  .logoalle{
    p{
      background-color: $mycolor-3;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

main[class^="col"]{
  margin-bottom: 50px;
  padding: 0;
  margin-right:0;
  margin-left:0;
  padding-right:0; padding-left:0;
}


.inhoud{
  margin-left: 100px;
  margin-right: 200px;
}


nav[data-toggle='toc'] .nav .nav>li {
  display: none;
}
