/* Navigation
---------------------------------------------
*/


/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
  height: 100%;
}

body {
  background-color:$color-white;
  border: $border-width solid $border-color;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  position: relative;
}

main {
  margin-top: 30px;
}

.introtext .intro {
  font-size: $font-size-base * 2;
  font-weight: $font-weight-bold;
  line-height: 1.2;
}


@media (min-width: $breakpoint-md) {

  .introduction-image {
    margin: 30px 0;
  }

  main {
    margin-top: 0;
  }

  .info-navtabs-column,
  .portfolio-content-column {
    height: calc(100vh - #{$border-width} * 2);
    max-height: calc(100vh - #{$border-width} * 2);
    overflow-y: scroll;
  }

  .portfolio-content-column {
    border-left: $border-width $border-color solid;
  }
}

@media (min-width: $breakpoint-xl) {

  .introduction-image {
    margin: 30px auto;
  }

  .info-wrapper {
    padding: 0 30px;
  }
}


@media (min-width: $breakpoint-md) and (max-height: 550px) {

  .introduction-image {
    width: 100px;
  }
}


/* BACK TO TOP
-------------------------
*/
#to-top {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */

  svg{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top:0;
  }

  &:hover {
    background-color:$mycolor-2;
    svg{
      position:relative;
      top:-5px;
    }
  }
}

img{
  max-width: 100%;
}
