.tabbable .nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden;

  .nav-link img {
    max-width: initial;
  }
}

.tabs-column {
  border-width: $border-width 0;
  border-color: $border-color;
  border-style: solid;
  margin-top: 34px;

  &:after {
    background: linear-gradient(90deg, rgba($color-white,0) 0%, rgba($color-white,1) 100%);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
}

.nav-tabs {
  position: relative;

  .nav-item:first-of-type .nav-link {
    padding-left: 4px;
  }

  .nav-link {
    border: none;
    padding: 30px 15px;

    &:focus {
      outline: none;

      img {
        border-color: $color-grey-2;
      }
    }

    &:hover img {
      box-shadow: $focus-box-shadow;
    }
  }

  img {
    border: $border-width transparent solid;
  }


  .nav-item.show .nav-link,
  .nav-link.active {
    border: none;

    img {
      border-color: $border-color;
    }

    &:focus img {
      border-color: $color-grey-2;
    }
  }
}

@media (min-width: $breakpoint-md) {

  .tabbable {
    height: 100%;
    max-height: 100vh;

    .nav-tabs {
      height: 100%;
      flex-wrap: wrap;
      overflow-x: initial;
      overflow-y: scroll;
    }
  }
}
