.tabbable .nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden;

  .nav-link img {
    max-width: initial;
    width: 80px;
  }
}

.tabs-column {
  border-width: $border-width 0;
  border-color: $border-color;
  border-style: solid;
  margin-top: 34px;

  &:after {
    background: linear-gradient(90deg, rgba($color-white,0) 0%, rgba($color-white,1) 100%);
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
  }
}

.nav-tabs {
  position: relative;
  border-bottom: none;

  .nav-item:first-of-type .nav-link {
    padding-left: 4px;
  }

  .nav-link {
    border: none;
    padding: 30px 15px;

    &:focus {
      outline: none;

      img {
        border-color: $color-grey-2;
      }
    }

    &:hover img {
      box-shadow: $focus-box-shadow;
    }
  }

  img {
    border: $border-width transparent solid;
  }


  .nav-item.show .nav-link,
  .nav-link.active {
    border: none;

    img {
      border-color: $border-color;
    }

    &:focus img {
      border-color: $color-grey-2;
    }
  }
}

@media (min-width: $breakpoint-md) {

  .tabbable {
    height: 100%;
    max-height: 100vh;

    .nav-tabs {
      height: 100%;
      flex-wrap: wrap;
      overflow-x: initial;
      overflow-y: scroll;
    }
  }

  .tabs-column {
    border-bottom: none;

    &:after {
      content: none;
    }
  }

  .nav-tabs {
    padding: 23px 0;

    .nav-link {
      padding: 7px;
    }
    .nav-item:first-of-type .nav-link {
      padding-left: 7px;
    }
  }
}

@media (min-width: $breakpoint-xl) {

  .tabs-column {
    border-top: none;
    border-left: $border-width $border-color solid;
    height: calc(100vh - #{$border-width} * 2);
    margin-top: 0;
    max-height: calc(100vh - #{$border-width} * 2);
    overflow-y: scroll;

    &:after {
      content: '';
      background: linear-gradient(0deg, rgba($color-white,1) 0%, rgba($color-white,0) 100%);
      bottom: 0;
      height: 80px;
      left: 0;
      right: 0;
      top: initial;
      width: 100%;
    }
  }

  .tabbable .nav-tabs {
    height: auto;
  }

  .nav-tabs .nav-item {
    margin: 0 auto;
  }
}
