.tabbable .nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y:hidden;

  .nav-link img {
    max-width: initial;
  }
}

@media (min-width: $breakpoint-md) {

  .tabbable {
    height: 100%;
    max-height: 100vh;

    .nav-tabs {
      height: 100%;
      flex-wrap: wrap;
      overflow-x: initial;
      overflow-y: scroll;
    }
  }
}
