 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        -webkit-transition: all 0.5s ease-in-out; /* Safari */
        transition: all 0.5s ease-in-out;
        background-color:$color-grey-1;
        padding: 0;
        height: 100%;
        width:250px;
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
            position:fixed;
            height: 60%; /* NOG AANPASSEN!! AAAAAA */
            width: 250px;
            top: 200px;

            //vanaf hier
            -webkit-transition: all 0.5s ease-in-out; /* Safari */
            transition: all 0.5s ease-in-out;
            &:hover{
                overflow: auto;
            }

            // tot hier wegdoen als het niet gefikst geraakt
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
            background-color:transparent;
            border: none;
            margin-top:0;
            padding-top:0;
        }
        .navbar-nav {
            width: 100%;
            margin-top:0;
            margin-bottom:30px;
        }
        .nav-item {
            width: 100%;
            margin-top:10px;
            background-color: $color-grey-1;
            padding-right: 30px; padding-left: 20px;
            border-top: 1px dotted $mycolor-3;
            padding-top:20px;
            &:first-child{
                border-top:none;
            }
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
        .brandlogo{
            background-image: url( '../../images/logo.png');
            background-size:80%;
            background-repeat: no-repeat;
            width: 100%;
            background-color:white;
            background-position: center;
            padding-bottom: 20px;
            -webkit-box-shadow: 0 -1px 6px $color-grey-2;
            box-shadow: 0 -1px 6px $color-grey-2;
        }
        .navbar-brand{
            text-indent: -999px;
            height: 180px;
            width: 100%;
        }
        .dropdown-item{
            padding-top: 0.1rem; padding-bottom: 0.1rem;
            margin-left:20px;
            padding-left:20px;
            font-size:0.8rem;
        }
        .dropdown-item, .nav-link{
            -webkit-transition: all 0.5s ease-in-out; /* Safari */
            transition: all 0.5s ease-in-out; 
            color: $color-grey-3;
            border-left: 3px solid transparent;
            &:hover{
                background-color: $mycolor-3;
                color:white;
            }
        }
        a.nav-link{
            padding-left: 1rem !important;
        }
        
        .open{
            .nav-link, .dropdown-item.open{
                border-left:3px solid $mycolor-3;
            }
        }
        a{
            text-decoration: none;
            
        }
    }

    .linkernavigatie{
        padding:0;
        position: fixed;
        height:100vh;
        z-index:30;
    }
 }

 /* table of contents
 --------------------------- */

  

 #toc {
    margin-bottom: 1em;
    height: 50px;
    .nav {
        display: flex;
    }
    li{
        float: left;
        text-indent: 0;
        padding-left: 0;
        &:before {
            content: '';
        }
        &:first-child{
            a{
                border-left:none;
            }
        }
    }
    a{
        border-left: 1px solid $color-grey-2;
        border-bottom: none;
        text-decoration:none;
        &:hover{
            border-bottom: 1px solid $mycolor-3;
            color: $mycolor-3;
            padding-left: 20px;
        }
    }
    

 } 
#toc > ul.nav > li:only-child {
    display: none;
}

 