 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        background-color:$color-grey-1;
        padding: 0;
        height: 100%;
        width:250px;
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
            position:fixed;
            padding-right: 30px; padding-left: 30px;
            overflow: auto;
            height: 60%; /* NOG AANPASSEN!! */
            width: 250px;
            top: 200px;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
            background-color:transparent;
            border: none;
            margin-top:0;
            padding-top:3px;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
            margin-top:10px;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
        .brandlogo{
            background-image: url( '../../images/logo.png');
            background-size:80%;
            background-repeat: no-repeat;
            width: 100%;
            background-color:white;
            background-position: center;
        }
        .navbar-brand{
            text-indent: -999px;
            height: 180px;
            width: 100%;
        }
        .dropdown-item{
            padding-top: 0.1rem; padding-bottom: 0.1rem;
        }
        .dropdown-item, .nav-link{
            -webkit-transition: all 0.5s ease-in-out; /* Safari */
            transition: all 0.5s ease-in-out; 
            color: $color-grey-3;
            &:hover{
                background-color: $mycolor-3;
                color:white;
            }
        }
        .open{
            color: white;
            .nav-link, .dropdown-item.open{
                background-color:$mycolor-3;
                color:white;
            }
        }
        a{
            text-decoration: none;
        }
    }

    .linkernavigatie{
        padding:0;
        position: fixed;
        height:100vh;
        z-index:30;
    }
 }

 /* table of contents
 --------------------------- */

  

 #toc {
    margin-bottom: 1em;
    height: 50px;
    .nav {
        display: flex;
    }
    li{
        float: left;
        text-indent: 0;
        padding-left: 0;
        &:before {
            content: '';
        }
    }
    a{
        border-left: 1px solid $color-grey-2;
        border-bottom: none;
        text-decoration:none;
        &:hover{
            border-bottom: 1px solid $mycolor-5;
            // border-left: none;
        }
    }
 } 
#toc > ul.nav > li:only-child {
    display: none;
}

 