 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
        .navbar-brand{
            background-image: url( '/1718-3CMO-BaP-sarahmey/images/logo.png');
            text-indent: -999px;
        }
    }
 }

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    height: 50px;
    .nav {
        display: block;
    }
    li{
        display: block;
        float: left;
        text-indent: 0;
        padding-left: 0;
        &:before {
            content: '';
        }
    }
    a{
        border-right: 1px solid $color-grey-2;
        border-bottom: none;
        &:hover{
            border-bottom: 1px solid $mycolor-5;
            border-left: none;
        }
    }
 } 


 