.tab-content {
  margin-top: 30px;
}

@media (min-width: $breakpoint-md) {

  .tab-content .tab-pane {
    padding: 0 15px;
  }
}

@media (min-width: $breakpoint-xl) {

  .tab-content .tab-pane {
    padding: 0 30px;
  }
}
