
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: 5rem;
  color: $mycolor-2;
  padding-top:3.2rem;
  margin-bottom:0;
  height:206px;
}
h2 {
  font-size: 3rem;
  margin: 2rem 0;

  span {
    border-bottom: $border-width $mycolor-0 solid;
  }
}

h3{
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

a {
  border-bottom: 4px solid $mycolor-0;
  color: $body-color;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus{
    color: $body-color;
    background-color: $mycolor-0;
    text-decoration: none;
  }

  &:focus {
    outline: rgba($color-black, 0.5) auto 5px;
  }
}
