

// Color system
// ------------------------

// Greys
$color-white: rgb(255, 255, 255);
$color-grey-1:rgba(240,240,240,1);
$color-grey-2:rgba(180,180,180,1);
$color-grey-3:rgba(90,90,90,1);
$color-grey-4:rgba(30,30,30,1);
$color-grey-5:rgba(10,10,10,1);
$color-black:rgba(0,0,0,1);

// Website
$mycolor-1:#69c0c2;
$mycolor-2:#32a6a8;
$mycolor-3:#138e90;
$mycolor-4:#034748;
$mycolor-5:#022f30;

$body-bg: $color-white;
$body-color: $color-grey-4;
$body-link: $mycolor-3;


// Client specific
$clientcolor-1:rgba(0,153,197,1);
$clientcolor-2:rgba(232,179,33,1);
$clientcolor-3:rgba(142,167,57,1);
$clientcolor-4:rgba(191,27,48,1);
$clientcolor-5:rgba(204,82,51,1);


// TYP0GRAPHY
// -----------------------------

// Imports
// Website
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet');

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet');

// Client specific
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet');

// Client specific
@import url('href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i" rel="stylesheet');

// type
$myfont-family-base: 'Roboto', sans-serif;
$myfont-family-title: 'Oswald', sans-serif;

// sizes
$font-size-base: 14px;
$lineheight-base: 1.6em;
$font-weight-base: 400;
$font-weight-light: 200;
$font-weight-bold: 800;


// Type Client specific
//------------------------------

// type
$clientfont-family-base: 'Baloo', sans-serif;
$clientfont-family-title: $clientfont-family-base;

// sizes
$client-font-size-base: 14px;
$client-lineheight-base: 1.6em;
$client-font-weight-base: 400;

// type  
$clientfont2-family-base: 'Arvo', serif;
$clientfont2-family-title: $clientfont2-family-base;

// sizes
$font-size-base: 15px;
$lineheight-base: 1.6em;
$font-weight-base: 400;
$font-weight-light: 200;
$font-weight-bold: 800;