
@charset "UTF-8";

@import "main";

/* KLEUREN */

$kleurBlauw: #0099c5;
$kleurGeel: #e8b321;
$kleurGroen: #8ea739;
$kleurRood: #bf1b30;
$kleurOranje: #cc5233;

$kleurwit: #ffffff;
$kleurgrijs1: #d9d9d9;
$kleurgrijs2: #b1b1b1;
$kleurgrijs3: #868686;
$kleurgrijs4: #585858;
$kleurzwart: #000000;

body{
    background-color: $kleurBlauw;
}