---
layout: vertical_home
permalink: index
title: Portfolio
description: Persoonlijk portfolio van Sarah Meysman
---


<div class="row">
  <div class="col-md-6 info-navtabs-column">

    <div class="row">
      <div class="col-xl-9">
        <div class="row info-wrapper">
          <div class="col-4 col-xl-12">
            <img class="introduction-image" src="{{ '/images/dummy.svg' | relative_url }}" alt="tekening dummy">
          </div>
          <div class="col-8 col-md-12 introtext">
            <p class="intro">Hey, ik ben Sarah</p>
            <p>levensgenieter • grafisch ontwerper • frontend developer • groepsbeest • webdesigner • UI/UX designer • danser</p>

            <a href="mailto:sarahmeysman@hotmail.com" class="btn btn-primary btn-contact">Contacteer me</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 tabs-column">
        <div class="tabs-column-content">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="typoscape-tab" data-toggle="tab" href="#typoscape" role="tab" aria-controls="home" aria-selected="true">
                  <img src="{{ '/images/portfolio/thumbnails/typoscape.jpg' | relative_url }}" alt="Typoscape">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="schetsboeken-tab" data-toggle="tab" href="#schetsboeken" role="tab" aria-controls="schetsboeken" aria-selected="false">
                  <img src="{{ '/images/portfolio/thumbnails/schetsboeken.jpg' | relative_url }}" alt="Schetsboeken">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="vriendenboekje-tab" data-toggle="tab" href="#vriendenboekje" role="tab" aria-controls="vriendenboekje" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/vriendenboekje.jpg' | relative_url }}" alt="Vriendenboekje">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="hennieheimwee-tab" data-toggle="tab" href="#hennieheimwee" role="tab" aria-controls="hennieheimwee" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/hennieheimwee.jpg' | relative_url }}" alt="Hennie heimwee">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tlooptgesmeerd-tab" data-toggle="tab" href="#tlooptgesmeerd" role="tab" aria-controls="tlooptgesmeerd" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/tlooptgesmeerd.jpg' | relative_url }}" alt="'t Loopt gesmeerd">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="schoolhoevedecampagne-tab" data-toggle="tab" href="#schoolhoevedecampagne" role="tab" aria-controls="schoolhoevedecampagne" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/schoolhoevedecampagne.jpg' | relative_url }}" alt="Schoolhoeve De Campagne">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="replaytoddler-tab" data-toggle="tab" href="#replaytoddler" role="tab" aria-controls="replaytoddler" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/replaytoddler.jpg' | relative_url }}" alt="Replay Toddler">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="broekzakspelletjesboek-tab" data-toggle="tab" href="#broekzakspelletjesboek" role="tab" aria-controls="broekzakspelletjesboek" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/broekzakspelletjesboek.jpg' | relative_url }}" alt="Broekzakspelletjesboek">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="diegodemeyer-tab" data-toggle="tab" href="#diegodemeyer" role="tab" aria-controls="diegodemeyer" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/diegodemeyer.jpg' | relative_url }}" alt="Diego Demeyer">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="ruimteinfographic-tab" data-toggle="tab" href="#ruimteinfographic" role="tab" aria-controls="ruimteinfographic" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/ruimteinfographic.jpg' | relative_url }}" alt="Infographic ruimtevaart">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tamos-tab" data-toggle="tab" href="#tamos" role="tab" aria-controls="tamos" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/tamos.jpg' | relative_url }}" alt="Tamos">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="brochuremiddelheim-tab" data-toggle="tab" href="#brochuremiddelheim" role="tab" aria-controls="brochuremiddelheim" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/brochuremiddelheim.jpg' | relative_url }}" alt="Brochure Middelheimmuseum">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="linoprint-tab" data-toggle="tab" href="#linoprint" role="tab" aria-controls="linoprint" aria-selVriendenboekje>
                  <img src="{{ '/images/portfolio/thumbnails/linoprint.jpg' | relative_url }}" alt="Linoprint">
                </a>
              </li>

              <!--
               TO ADD
                • websites bij SC
                • grafisch werk bij SC
               -->
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6 portfolio-content-column">
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="typoscape" role="tabpanel" aria-labelledby="typoscape-tab">
        <div class="tab-pane-text">
          <h2>Typoscape</h2>
          <p>Bouw een landschap op uit letters. Zo luidde de opdracht 'typoscape'. Na een gekozen uitzicht, Jesus in Rio de Janeiro, te hebben geanalyseerd en getekend, zocht ik naar de letters die het landschap het best in beeld zouden kunnen brengen. Het werd een combinatie van geschreefde en schreefloze letters, en verschillende tinten. Eerst getekend met de hand, erna digitaal uitgewerkt. ​</p>
          <p> In de letters zijn verschillende woorden terug te vinden die informatie geven, zoals de plaats, de ontwerper en de bouwer van het standbeeld.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
              {% if image.path contains 'images/portfolio/typoscape' %}
                <div class="grid-item">
                  <a data-fancybox="gallery-typoscape" href="{{ site.baseurl }}{{ image.path }}">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="schetsboeken" role="tabpanel" aria-labelledby="schetsboeken-tab">
        <div class="tab-pane-text">
          <h2>Schetsboeken</h2>
          <p>In mijn schetsboeken staan vaak wat krabbeltjes. Het ene al beter gelukt dan het andere. Hier wil ik graag enkele  pagina's uit mijn schetsboeken met jullie delen. </p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
              {% if image.path contains 'images/portfolio/schetsboeken' %}
                <div class="grid-item">
                  <a data-fancybox="gallery-schetsboeken" href="{{ site.baseurl }}{{ image.path }}">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="vriendenboekje" role="tabpanel" aria-labelledby="vriendenboekje-tab">
        <div class="tab-pane-text">
          <h2>Vriendenboekje</h2>
          <p>Tijdens mijn stage bij Kazou vzw ontwierp ik het vriendenboekje dat in de zomer van 2018 meegegeven zal worden voor alle vakanties met deelnemers tot 12 jaar. Op die manier kunnen kinderen (én ouders) makkelijker contact houden om de volgende keer opnieuw samen op vakantie te kunnen gaan.</p>
          <p>Het vriendenboekje bestaat uit verschillende pagina's. Vooraan zit een pagina dat de deelnemer zelf kan invullen met wat hij/zij zelf leuk vindt. Daarna volgend verschillende pagina's om te laten invullen door de vriendjes die op vakantie gemaakt worden. De vragen zijn aangepast aan een kazouvakantie. De gegevens van de kinderen kunnen achteraan in het boekje ingevuld worden. Hier kan op teruggekeken worden door de ouders om ook na de vakantie af te spreken of om opnieuw samen op vakantie te gaan. Na de vakantie kan het vriendenboekje meegenomen worden naar school. Er is ruimte om te schrijven over de avonturen die ze op vakantie meegemaakt hebben. Ook zijn er enkele pagina's om te laten invullen door de vriendjes van school. Op die manier maken meer kinderen kennis met Kazou en zullen deze kinderen de volgende vakantie misschien ook mee gaan met Kazou.</p>
          <p>Kortom is het vriendenboekje een makkelijke tool voor kinderen tot 12 jaar om in contact te blijven met hun vrienden en er volgend jaar (opnieuw) mee op kazouvakantie te gaan.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/vriendenboekje' %}
            <div class="grid-item">
              <a data-fancybox="gallery-vriendenboekje" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="hennieheimwee" role="tabpanel" aria-labelledby="hennieheimwee-tab">
        <div class="tab-pane-text">
          <h2>Hennie Heimwee</h2>
          <p>Het Hennie Heimweepakket gaat vanaf de zomer van 2018 mee met alle vakanties van Kazou met kinderen tot 10 jaar en enkele vakanties met jongeren met bijzondere aandacht. Het pakket is een hulpmiddel voor de monitoren om kinderen die last hebben van heimwee te kunnen helpen.</p>
          <p>Het pakket bestaat uit een infofiche over heimwee voor monitoren, Hennie het knuffelkonijn, een aftelkalender en enkele kleurplaten. De aftelkalender is heel illustratief uitgewerkt. Elke dag komt Hennie iemand tegen, elke dag beleeft hij een ander avontuur. De kinderen kunnen elke dag stickers verdienen als ze een goede dag gehad hebben. Daarnaast kunnen de voorbije dagen afgevinkt worden en kan er op de kalender ingekleurd worden op welke dag hennie blijft slapen.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/hennieheimwee' %}
            <div class="grid-item">
              <a data-fancybox="gallery-hennieheimwee" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="tlooptgesmeerd" role="tabpanel" aria-labelledby="tlooptgesmeerd-tab">
        <div class="tab-pane-text">
          <h2>'t Loopt gesmeerd</h2>
          <p>Enkele vrijwilligers van Kazou werkten het spel <i>'t loopt gesmeerd</i> uit. Het doel van het spel is om kinderen bewust te maken van de gevaren van de zon.</p>
          <p>In het spel worden de kinderen in groepen opgedeeld. Elke groep krijgt een aantal 'zonnekloppers' die ze moeten beschermen tegen de zon. Worden ze niet genoeg beschermd, zullen ze uiteindelijk niet langer buiten mogen spelen en worden ze van het spelbord verwijderd. Degene die op het einde met zijn team nog de grootste groep zonnekloppers heeft, wint het spel. De zonnekloppers hebben een andere bescherming nodig afhankelijk van hun huidtype. Zonnekloppers beschermen kan door op verschillende posten (de apotheek, de zon, de strandwinkel) bescherming te verdienen (bijvoorbeeld zonnecrème, schaduw, een parasol, een zonnebril,...). Let wel op, er loopt ook een smeerlap rond, die zal proberen om de bescherming die jij verdient hebt af te nemen.</p>
          <p>De speldoos bevat een handleiding voor monitoren, een spelbord, een infofiche over welke huidtype welke bescherming nodig heeft, en een heleboel zonneklopperkaartjes en beschermingskaartjes.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/tlooptgesmeerd' %}
            <div class="grid-item">
              <a data-fancybox="gallery-tlooptgesmeerd" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="schoolhoevedecampagne" role="tabpanel" aria-labelledby="schoolhoevedecampagne-tab">
        <div class="tab-pane-text">
          <h2>Schoolhoeve De Campagne</h2>
          <p>Schoolhoeve ‘De Campagne’ in Drongen kon wel eens een nieuw jasje gebruiken. Na een bezoek aan de dieren en de sfeer te hebben opgesnoven, gingen we aan de slag. Een nieuwe huisstijl werd gemaakt ontwikkeld. Binnen deze stijl werden enkele elementen ontwikkeld. Een brochure voor leerkrachten, met meer info om hun bezoek met de klas voor te bereiden, is er één van. Daarnaast werd ook een poster om mee te geven met de kinderen naar huis, die ze op hun kamer kunnen hangen gemaakt en advertenties voor in de krant. Ook infoborden, een grondplan gemaakt en een app om tijdens het bezoek aan de schoolhoeve te gebruiken ontbraken niet. </p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/schoolhoevedecampagne' %}
            <div class="grid-item">
              <a data-fancybox="gallery-schoolhoevedecampagne" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="replaytoddler" role="tabpanel" aria-labelledby="replaytoddler-tab">
        <div class="tab-pane-text">
          <h2>Replay Toddler</h2>
          <p>In het vak 'Externe projecten' werkten we op school in een team van vijf samen om de wensen van onze klant te vervullen. Als teamleader was ik verantwoordelijk om dit alles in goede banen te leiden. Onze klant was een projectgroep van docenten aan de opleiding Pedagogie van het Jonge Kind aan Arteveldehogeschool. </p>
          <p>Met hun projectgroep waren ze volop bezig om een tool uit te werken om risicovol spel bij peuters in de Vlaamse kinderopvang te promoten bij de begeleiders. Aangezien het project nog in ontwikkeling was, is pas gaandeweg duidelijk geworden welke tool uitgewerkt zou worden. In het begin was wel al zeker dat er illustraties nodig zouden zijn. Na enkele voorstellen voorgelegd te hebben, is de stijl gekozen die ik ontwikkeld had. Met het hele team werkten we dan afbeeldingen uit in diezelfde stijl.</p>
          <p>Later in de samenwerking werd de uitwerking van het project vastgelegd: een toolbox met verschillende onderdelen in. Bijvoorbeeld quick sheets met uitleg per categorie van risicovol spel, een draaikalender per week om het hele jaar door bewust na te denken over risicovol spel, een poster waarop verschillende vormen van risicovol spel te zien zijn, een handleiding en dergelijke meer.</p>
          <p>De uitgewerkte elementen zijn niet allemaal door mij persoonlijk gemaakt. Binnen het team hebben we de taken verdeeld. Ikzelf stond in voor het teammanagement, de communicatie met de klant, het uitwerken van de quick sheets en ik heb enkele van de afbeeldingen uitgewerkt (peuters rond het kampvuur, nabij water, op de tafel, bij de auto). Aangezien het project nog in een testfase zat, hebben we niet alle elementen voor de toolbox kunnen uitwerken. Dit project wordt het komende jaar opgepikt door een nieuw team studenten. </p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/replaytoddler' %}
            <div class="grid-item">
              <a data-fancybox="gallery-replaytoddler" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="broekzakspelletjesboek" role="tabpanel" aria-labelledby="broekzakspelletjesboek-tab">
        <div class="tab-pane-text">
          <h2>BZSB</h2>
          <p>Het broekzakspelletjesboek, een project waar al een hele tijd bij Kazou Meetjesland aan gewerkt werd, en dat nood had aan wat layout liefde, om al het verzamel- en schrijfwerk tot z'n recht te laten komen.</p>
          <p>Dat moet je mij geen twee keer vragen. Na enkele maanden werken tijdens vrije uren, werd het ontwerp definitief. Na nog een grondige nalezing, was het klaar voor de drukpersen.</p>
          <p>In de zomer van 2018 werd het broekzakspelletjesboek aan 3000 monitoren gegeven worden als bedanking voor hun inzet. </p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/broekzakspelletjesboek' %}
            <div class="grid-item">
              <a data-fancybox="gallery-broekzakspelletjesboek" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="diegodemeyer" role="tabpanel" aria-labelledby="diegodemeyer-tab">
        <div class="tab-pane-text">
          <h2>Diego Demeyer</h2>
          <p>Ontwerp van een logo voor Diego Demeyer - Electro specialist en verhuurder van party benodigdheden. Hierbij ook de bestickering van de wagen en een naamkaartje.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/diegodemeyer' %}
            <div class="grid-item">
              <a data-fancybox="gallery-diegodemeyer" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="ruimteinfographic" role="tabpanel" aria-labelledby="ruimteinfographic-tab">
        <div class="tab-pane-text">
          <h2>Infographic ruimtevaart</h2>
          <p>Infographic over de geschiedenis van de ruitmevaart. Enkele spilfiguren en belangrijke gebeurtenissen.</p>
        </div>
        <div class="tab-pane-photos">
          {% for image in site.static_files %}
          {% if image.path contains 'images/portfolio/ruimteinfographic' %}
            <a data-fancybox="gallery-ruimteinfographic" href="{{ site.baseurl }}{{ image.path }}">
              <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="tab-pane fade" id="tamos" role="tabpanel" aria-labelledby="tamos-tab">
        <div class="tab-pane-text">
          <h2>Tamos</h2>
          <p>In het kader van mijn bachelorproef ontwikkelde ik een huisstijl voor de net opgerichte vereniging Tamos. Zij zetten zich in voor mensen die in een opvangcentrum voor asielzoekers wonen en in afwachting zijn van hun beslissing. Ze organiseren activiteiten voor alle groepen mensen die er wonen. Op die manier willen ze hun wat afleiding geven van de stressvolle situatie waarin ze zich bevinden en hun laten kennismaken met België, zijn mensen en alles wat het verder te bieden heeft.</p>
          <p>Mijn bachelorproef bestond eruit om naast enkele vaste onderdelen ook enkele vrije onderdelen, die de vereniging zelf kon kiezen, te ontwikkelen. Zo maakte ik een template voor een brochure, een ontwerp voor een website, een nieuwsbrief en een huisstijlgids als vaste onderdelen. Daarnaast koos de vereniging ervoor om een spel grafisch te laten uitwerken, en naamkaartjes, een template voor affiches, iconen, en tote bags.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/tamos' %}
            <div class="grid-item">
              <a data-fancybox="gallery-tamos" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="brochuremiddelheim" role="tabpanel" aria-labelledby="brochuremiddelheim-tab">
        <div class="tab-pane-text">
          <h2>Brochure Middelheim-<br />museum</h2>
          <p>​In het kader van een schoolopdracht maakte ik een brochure voor het Middelheimmuseum. Het Middelheimmuseum is een beeldentuin in Antwerpen met een indrukwekkende collectie kunstwerken. </p>
          <p>Na een bezoek aan het prachtige en energieke park, ging ik aan de slag om de brochure te ontwikkelen. In de brochure wou ik de energie van het park duidelijk overbrengen door gebruik te maken van sterke krachtlijnen en kleurvlakken. Middelheim is door zijn unieke buitenlocatie niet zoals andere musea. Elke keer je het museum bezoekt is het anders, door de mensen die er lopen, door de omgeving die verandert en door de natuurelementen.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/brochuremiddelheim' %}
            <div class="grid-item">
              <a data-fancybox="gallery-brochuremiddelheim" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="linoprint" role="tabpanel" aria-labelledby="linoprint-tab">
        <div class="tab-pane-text">
          <h2>Linoprint</h2>
          <p>Op een vrije zondag hou ik me graag bezig met het uitsnijden en drukken met lino. Ziehier het resultaat van enkele van die zondagen.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
            {% if image.path contains 'images/portfolio/linoprint' %}
            <div class="grid-item">
              <a data-fancybox="gallery-linoprint" href="{{ site.baseurl }}{{ image.path }}">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
