---
layout: vertical_home
permalink: index
title: Portfolio
description: Persoonlijk portfolio van Sarah Meysman
---


<div class="row">
  <div class="col-md-6 info-navtabs-column">

    <div class="row">
      <div class="col-xl-9">
        <div class="row info-wrapper">
          <div class="col-4 col-xl-12">
            <img class="introduction-image" src="{{ '/images/dummy.svg' | relative_url }}" alt="tekening dummy">
          </div>
          <div class="col-8 col-md-12 introtext">
            <p class="intro">Hey, ik ben Sarah</p>
            <p>levensgenieter • grafisch ontwerper • frontend developer • webdesigner • UI/UX designer • danser</p>
            <!--<p>een enthousiaste, nieuwsgierige grafisch ontwerper die met een lach door het leven gaat. Naast ontwerpen spreek ik graag af met vrienden en engageer ik me als vrijwilliger. Zo ben ik animator, hoofdanimator of deel van de kookploeg bij Kazou vzw.</p>-->

            <a href="mailto:sarahmeysman@hotmail.com" class="btn btn-primary btn-contact">Contacteer me</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 tabs-column">
        <div class="tabs-column-content">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" id="typoscape-tab" data-toggle="tab" href="#typoscape" role="tab" aria-controls="home" aria-selected="true">
                  <img src="{{ '/images/portfolio/thumbnails/typoscape.jpg' | relative_url }}" alt="Typoscape">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="schetboeken-tab" data-toggle="tab" href="#schetboeken" role="tab" aria-controls="schetboeken" aria-selected="false">
                  <img src="{{ '/images/portfolio/thumbnails/schetboeken.jpg' | relative_url }}" alt="Schetboeken">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                  <img src="https://placehold.it/80x80" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="4-tab" data-toggle="tab" href="#4" role="tab" aria-controls="contact" aria-selected="false">
                  <img src="https://placehold.it/80x80" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="5-tab" data-toggle="tab" href="#5" role="tab" aria-controls="contact" aria-selected="false">
                  <img src="https://placehold.it/80x80" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="6-tab" data-toggle="tab" href="#6" role="tab" aria-controls="contact" aria-selected="false">
                  <img src="https://placehold.it/80x80" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="7-tab" data-toggle="tab" href="#7" role="tab" aria-controls="contact" aria-selected="false">
                  <img src="https://placehold.it/80x80" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6 portfolio-content-column">
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="typoscape" role="tabpanel" aria-labelledby="typoscape-tab">
        <div class="tab-pane-text">
          <h2>Typoscape</h2>
          <p>Bouw een landschap op uit letters. Zo luidde de opdracht 'typoscape'. Na een gekozen uitzicht, Jesus in Rio de Janeiro, te hebben geanalyseerd en getekend, zocht ik naar de letters die het landschap het best in beeld zouden kunnen brengen. Het werd een combinatie van geschreefde en schreefloze letters, en verschillende tinten. Eerst getekend met de hand, erna digitaal uitgewerkt. ​</p>
          <p> In de letters zijn verschillende woorden terug te vinden die informatie geven, zoals de plaats, de ontwerper en de bouwer van het standbeeld.</p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
              {% if image.path contains 'images/portfolio/typoscape' %}
                <div class="grid-item">
                  <a data-fancybox href="{{ site.baseurl }}{{ image.path }}">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="schetboeken" role="tabpanel" aria-labelledby="schetboeken-tab">
        <div class="tab-pane-text">
          <h2>Schetboeken</h2>
          <p>In mijn schetsboeken staan vaak wat krabbeltjes. Het ene al beter gelukt dan het andere. Hier wil ik graag enkele  pagina's uit mijn schetsboeken met jullie delen. </p>
        </div>
        <div class="tab-pane-photos">
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-gutter"></div>
            {% for image in site.static_files %}
              {% if image.path contains 'images/portfolio/schetsboeken' %}
                <div class="grid-item">
                  <a data-fancybox href="{{ site.baseurl }}{{ image.path }}">
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        3
      </div>

    </div>
  </div>
</div>

<!--
<div class="inhoudhome">
  <div class="grid">
    <div class="grid-item">
      <a href="{{ site.baseurl }}/oostenrijk">
        <img src="{{ '/images/home/oostenrijk.jpg' | relative_url }}" alt="Brochure Oostenrijk">
      </a>
    </div>
 </div>
</div>
-->
