<!DOCTYPE html>
<html lang="nl">
{% include head.html %}
<body data-spy="scroll" data-target="#toc">

<main>
    <div class="container-fluid">
        {{ content }}
    </div>
</main>

{% include footer.html %}
{% include scripts-bottom.html %}

<script>

$(document).ready(function(){


    $('.grid').masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.grid-item',
        // use element for option
        columnWidth: '.grid-sizer',
        percentPosition: true,
        fitWidth: true,
        gutter:'.grid-gutter'
      })

});
</script>

<script>
    var $grid = $('.grid').imagesLoaded( function() {
    // init Masonry after all images have loaded
        $grid.masonry({
        // options
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    });
</script>

</body>
</html>
